
#fondo{
    width: 100%;
    height: 100%;
    display: block;
}

#fondo:after{
    content: "";
    background:url("../img/suave2.jpg") ;
    background-repeat: repeat;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1;   
}

.barraBusqueda{

    float: left;
    width: 100%;
    height: 35px;
    background: rgba(0,0,0,0.7);
    position: fixed;
    padding: 15px;
    margin: 0;
    left:0;
    color: white;


}

#barraBusquedaSuperior{
    top:0;
    
    
}

#barraBusquedaInferior{
    bottom: 0;
}
.inputBusqueda{
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    border: 0;
    height: 30px;
    width: 200px;
    float: right;
    margin-right: 50px;
    margin-top: 0;
    opacity: 01.3;

}


.cambioColor{
    background: rgba(44,55,98,01.35);
}


#container{
    margin-top: 80px;
    text-align: center;
    margin-left: 185px;
    margin-right: auto;
    width: 70%;
    padding: 25px;
    display: table;
    background-color: rgba(0,0,0,0.3);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}
h2{
    color: white;
}

.Elemento{
    
    vertical-align: center;

    position: static;
    width: 300px !important;
    padding: 40px;
    margin-right: 95px !important;

    display: table-cell;
    background-color: rgba(0,0,0,0.7);
    
    -webkit-transition: background-color linear .5s;
    -moz-transition: background-color linear .5s;
    -o-transition: background-color linear .5s;
    transition: background-color linear .5s;

}

.Elemento:first-child{
    -webkit-border-radius: 20px 0 0 20px;
    -moz-border-radius: 20px 0 0 20px;
    border-radius: 20px 0 0 20px;
}

.Elemento:last-child{
    -webkit-border-radius: 0 20px  20px 0;
    -moz-border-radius: 0 20px  20px 0;
    border-radius: 0 20px  20px 0;
}

.Elemento:hover{
    background: rgba(0,0,0,0.5);
}

a{
    text-decoration: none;
    color: white;
}


.muestra{
    visibility: hidden;
    position: fixed;
}

.eliminar{
    
    visibility: hidden;
    position: fixed;
}

.actualizar{
    visibility: hidden;
    position: fixed;
}

.insertar{
    visibility: hidden;
    position: fixed;
}

ul li{
    cursor: pointer;
    list-style: none;
    padding: 13px 20px 13px 20px;
    margin-top: 0;
    margin-right: -5px;
    margin-left:  -5px;
    color:white;
    -webkit-transition: text-shadow linear .8s;
    -moz-transition: text-shadow linear .8s;
    -o-transition: text-shadow linear .8s;
    transition: text-shadow linear .85s;
    
    -webkit-transition: color linear .8s;
    -moz-transition: color linear .8s;
    -o-transition: color linear .8s;
    transition: color linear .85s;


}

ul li:hover{
    color: black;
    
    text-shadow: white 1px 1px 10px;
}

.mostrando{
    
    padding:20px;
        
    position: absolute;
	visibility: visible;
	top:150px;	
	left:500px;
        color: black;
	width: 300px;
	height: 300px;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	box-shadow: 1px 1px 7px rgba(255,255,255,0.5);
	-moz-box-shadow: 1px 1px 7px rgba(255,255,255,0.5);
	-webkit-box-shadow: 1px 1px 7px rgba(255,255,255,0.5);
	background: #FFF;
	
	position: absolute;
	overflow: scroll;
}

.mostrando:hover{
    position: absolute;
}

.consultaForm{
    margin:0;
    padding: 20px;
}


#containerForm{
    display: none;
    width: 100%;
    height: 100%;
    margin: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0,0,0,0.7);
}


.boton{
    visibility: hidden;
    float: right !important;
}

/*.contenedor{
    
    padding:20px;
        
    position: absolute;
	top:100px;	
	left:500px;
        color: red !important;
	width: 300px;
	height: 300px;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	box-shadow: 1px 1px 7px rgba(255,255,255,0.5);
	-moz-box-shadow: 1px 1px 7px rgba(255,255,255,0.5);
	-webkit-box-shadow: 1px 1px 7px rgba(255,255,255,0.5);
	background: #FFF;
	
	position: absolute;
}*/


.botones{
    margin-top: 30px;
    text-align: center;
    vertical-align: central;
    width: 140px;
    height: 457px;
    margin-left: -10px;
    top: 50px;
    padding: 10px;
    display: block;
    background: rgba(0,0,0,0.2);
    position: absolute;
    border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
        margin-bottom: 60px !important;
        left: -10px;
}

.containerBoton{
    text-align:justify;
text-justify:inter-word;
    background: rgba(0,0,0,0.6);
    padding: 13px;
    width: auto;
    margin: 5px; 
    margin-bottom: 15px;
     border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
   color: white;
   
}

.btnConsulta{
    
    border:0;
    padding: 7px;
    border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
    
}

.btnConsulta:hover{
    background:FFFF99; 
    box-shadow: 1px 1px 13px rgba(255,255,255,0.5);
	-moz-box-shadow: 1px 1px 13px rgba(255,255,255,0.5);
	-webkit-box-shadow: 1px 1px 13px rgba(255,255,255,0.5);
        cursor: pointer;
        
            
}


.todo{
    margin: 0;
    top: 0;
    left: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    background-image: url("../img/suave2.jpg");
     background-repeat: repeat;
    
    
}